In [1]:
people = {
    'first' : 'Prasang',
    'last' : 'Biyani',
    'email' : 'biyaniprasang@gmail.com'
}

In [2]:
people = {
    'first' : ['Prasang'],
    'last' : ['Biyani'],
    'email' : ['biyaniprasang@gmail.com']
}

In [3]:
people = {
    'first' : ['Prasang', 'Yash'],
    'last' : ['Biyani', 'Wani'],
    'email' : ['biyaniprasang@gmail.com', 'waniyash@yahoo.com']
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

     first    last                    email
0  Prasang  Biyani  biyaniprasang@gmail.com
1     Yash    Wani       waniyash@yahoo.com

In [14]:
filt = (df['last'] == 'Biyani') | (df['first'] == 'Yash')
df.loc[filt, 'email']

0    biyaniprasang@gmail.com
1         waniyash@yahoo.com
Name: email, dtype: object